################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/gio-data-platform/FileContentIndex
/.vs/gio-data-platform/v17/TestStore/0
/.vs/gio-data-platform/v17
/.vs
